
<hr>
<h2>Reactive form 📥 </h2>
<hr>
<section class="vh-100 bg-image"
  style="background-image: url('https://c4.wallpaperflare.com/wallpaper/268/607/584/amazon-river-river-amazon-rainforest-rainforest-wallpaper-preview.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="userForm" (ngSubmit)="onsubmit()">

                <div class="form-outline mb-4">
                  <input  formControlName="email" name="email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Enter Your Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input  formControlName="password" name="Password" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Type your password</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" >Register</button>
                  <button type="button" class="btn btn-primary" (click)="setuservalue()" >setvalue</button>
                  <button type="button" class="btn btn-primary" (click)="reset()" >Reset</button>
                  <button type="button" class="btn btn-primary" (click)="default()" >Default Values</button>
                </div>
                
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

