<h1><Header>Hi Everyone Welcome to angular👋</Header></h1>
<button type="button" class="btn btn-primary" (click)="gotocontact()">Contact📩</button>
<button type="button" class="btn btn-secondary" (click)="gotohelp()">Help📩</button>
<button type="button" class="btn btn-success"  (click)="gotohome()">Home🏠</button>
<button type="button" class="btn btn-danger" (click)="gotologin()">Login Form📩</button>
<button type="button" class="btn btn-warning" (click)="gotoproduct()">Add Product📩</button>

<a href="https://demo.actitime.com/login.do" class="btn btn-secondary btn-lg active" target="_blank" role="button" aria-pressed="true">Google Link</a>


<router-outlet></router-outlet>
